
body {
	background-image: url("FullSizeRender-1.jpg");
	background-size: 100%;
	background-position: 30% 20%;
	background-repeat: no-repeat;
}

.header {
	color: white;
	font-size: 70px;
	font-family: monospace;
	text-align:center;
	padding-top: 270px;
	padding-right: 30px;
}